.container {
    display: flex; /* Flexbox aktiválása */
    justify-content: center; /* Középre igazítás vízszintesen */
    align-items: center; /* Középre igazítás függőlegesen */
    position: relative;
    width: 100%;
    height: 90vh; /* Teljes magasság */
    overflow: hidden;
}

.carousel-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: 50% 20%;
    left: 0;
  }
  
  @keyframes slide {
    from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-100%);
      }
}

.carousel-wrapper {
    display: flex;
    animation: slide 40s linear infinite; 
    width: 300%;
}
  
  .carousel-slide {
    min-width: 33.33%;
    height: 100vh; 
    background-size: cover; 
    background-position: 50% 20%; 
    animation: none;
  }

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: 50% 20%;
    left: 0;
}

.text-overlay {
    position: relative;
    background-color: rgba(250, 250, 250, 0.726);
    color: rgb(218, 163, 25);
    padding: 20px; 
    border-radius: 8px;
    text-align: center; 
    border: 2px solid rgb(218, 163, 25);
    z-index: 1;
}

.PetraAndBeni{
    font-family: 'Dancing Script', cursive;
}

.Osszehazasodunk {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px 60px 10px 60px;
    border-bottom: 2px solid rgb(218, 163, 25);
}

.Datum{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}