 /* Kép háttér */
 .image-section {
    position: relative;
    height: 600px; /* 15 cm */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kép stílus */
.background-image {
    position: relative;
    top: 70%;
    width: 100%;
    opacity: 0.5;
}

/* Szöveg az animáció felett */
.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(250, 250, 250, 0.726); /* Fekete háttér áttetszően */
    color: rgb(218, 163, 25);
    padding: 20px; 
    border-radius: 8px;
    text-align: center; 
    border: 2px solid rgb(218, 163, 25);
}

.PetraAndBeni{
    font-family: 'Dancing Script', cursive;
}

.Osszehazasodunk {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px 60px 10px 60px;
    border-bottom: 2px solid rgb(218, 163, 25);
}

.Datum{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}