.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #ddd;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timeline-event {
    padding: 10px 20px;
    position: relative;
    width: 50%;
  }
  
  .timeline-event.left {
    left: 12%;
    /*text-align: right;*/
  }
  
  .timeline-event.right {
    left: 34%;
  }
  
  .timeline-content {
    padding: 20px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    border: 1px solid #ddd;
  }
  
  .timeline-event.left .timeline-content {
    margin-left: auto;
  }
  
  .timeline-event.right .timeline-content {
    margin-right: auto;
  }
  
  .timeline-icon {
    font-size: 30px;
    /*position: absolute;*/
    top: 10px;
  }
  
  .timeline-event.left .timeline-icon {
    right: -25px;
  }
  
  .timeline-event.right .timeline-icon {
    left: -25px;
  }

  .dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    left: 50%;
    margin-top: 5%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  /* Responsive styling */
  @media screen and (max-width: 768px) {
    .timeline-event.left {
      left: 0;
      /*text-align: center;*/
    }

    .timeline-event.right {
        left: 40%;
        /*text-align: center;*/
      }
  
    .timeline-icon {
      /*position: relative;*/
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }