.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    padding: 20px 0;
    background-color: #333;
}

.timeline-title {
    font-family: 'Dancing Script', cursive;
    padding: 20px;
    font-size: xxx-large;
    color: #da9325;
    text-align: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #888080;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.events-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.events-column {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.events-column.leftEvent {
    justify-content: flex-end;
}

.events-column.rightEvent {
    justify-content: flex-start;
}

.event-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-column.leftEvent .event-content-wrapper {
    text-align: right;
}

.events-column.rightEvent .event-content-wrapper {
    text-align: left;
}

.events-column.dot-column {
    flex-basis: 33.33%;
    z-index: 1;
}

.events-column.empty-column {
    flex-basis: 33.33%;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #da9325;
    border-radius: 50%;
}

.timeline-event {
    font-family: 'Dancing Script', cursive;
    color: #a9a3a3;
}

.timeline-icon {
    font-size: 30px;
}

.timeline-event-name {
    font-family: 'Dancing Script', cursive;
    color: #a9a3a3;
    font-size: larger;
}

@media screen and (max-width: 768px) {
    .timeline {
        width: 60%;
    }
}

@media (min-width: 601px) and (max-width: 1400px) {
    .timeline {
        width: 60%;
    }
}