.timeline-container {
  flex-direction: column;
    display: flex;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
   /* background-color: #f0f0f0;*/
   background-color: #333;
}

.timeline-title {
  font-family: 'Dancing Script', cursive;
  padding: 20px;
  font-size: xxx-large;
  height: 100%;
  color: #da9325;
}

.timeline {
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 100%;
    padding: 20px 0;
  }
  
  .timeline::after {
    display: flex;
    content: '';
    position: absolute;
    padding-left: 0.3vh;
    /*background-color: #3a383859;*/
    background-color: #888080;
    top: 0;
    padding-right: 0.3vh;
    bottom: 0;
  }
  
  .timeline-event {
    font-family: 'Dancing Script', cursive;
    /*color: #da9325;*/
    color: #a9a3a3;
    position: relative;
  }
  
  .timeline-event.left {
    left: 17%;
  }
  
  .timeline-event.right {
    left: 30%;
  }
  
  .timeline-content {
    padding: 20px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    border: 1px solid #ddd;
  }
  
  .timeline-event.left .timeline-content {
    margin-left: auto;
  }
  
  .timeline-event.right .timeline-content {
    margin-right: auto;
  }
  
  .timeline-icon {
    font-size: 30px;
    top: 10px;
  }
  
  .timeline-event.left .timeline-icon {
    right: -25px;
  }
  
  .timeline-event.right .timeline-icon {
    left: -25px;
  }

  .timeline-event-name {
    font-family: 'Dancing Script', cursive;
    /*color: #da9325;*/
    color: #a9a3a3;
    position: relative;
    font-size: larger;
  }

  .events-table{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
  }

  .events-table-body {
    width: 100%;
  }

  .events-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .events-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
  }

  .events-column.rightEvent{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 33%;
  }

  .events-column.leftEvent{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 33%;
  }

  .dot {
    padding: 7px;
    background-color: #da9325;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
  }
  
  /* Responsive styling */
  @media screen and (max-width: 768px) {
    .timeline-event.left {
      left: 1%;
      /*text-align: center;*/
    }

    .timeline-event.right {
        left: 40%;
        /*text-align: center;*/
      }
  
    .timeline-icon {
      /*position: relative;*/
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .events-table{
      display: flex;
      width: 60%;
      align-items: center;
      justify-content: center;
    }
  }

  @media (min-width: 601px) and (max-width: 1400px) {
    .timeline-event.left {
      left: 12%;
      /*text-align: center;*/
    }

    .timeline-event.right {
        left: 34%;
        /*text-align: center;*/
      }
  
    .timeline-icon {
      /*position: relative;*/
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .events-table{
      display: flex;
      width: 60%;
      align-items: center;
      justify-content: center;
    }
}