.flower-decoration {
    position: absolute;
    top: 0;
    width: 180px;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.flower-decoration.left {
    top: 80px;
    left: -15px;
    background-image: url("./images/flower.png");
    background-size: contain;
    transform-origin: top left;
}

.countdown {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #925a00;
    height: 100%;
    width: 100%;
    align-items: center;
}

.countdown-title {
    font-family: 'Dancing Script', cursive;
    padding: 20px 0 0;
    font-size: xxx-large;
    color: #b46f00;
    transition: color 0.3s ease;
}

.countdown-title:hover {
    color: #e79ab5;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30px;
}

.time {
    display: flex;
    align-items: center;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 100px;
    margin: 0 10px;
    height: 60px;
}

.time-box p {
    font-size: 2rem;
    margin: 0;
    color: #925a00;
}

.time-box span {
    color: #925a00;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .flower-decoration.left {
        display: none;
    }

    .time-box {
        width: 42px;
        height: 30px;
        padding: 10px;
        justify-content: center;
    }

    .time-box p {
        font-size: 1.5rem;
    }

    .time-box span {
        font-size: xx-small;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .flower-decoration.left {
        display: none;
    }

    .time-box {
        width: 70px;
        height: 40px;
        padding: 10px;
        justify-content: center;
    }

    .time-box p {
        font-size: 1.5rem;
    }

    .time-box span {
        font-size: x-small;
    }

    .countdown-title {
        padding: 10px;
    }
}