.countdown {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #925a00;
    height: 100%;
    width: 100%;
    align-items: center;
}

.countdown-title {
    font-family: 'Dancing Script', cursive;
    padding: 20px 0px 0px 0px;
    font-size: xxx-large;
    height: 100%;
    color: #b46f00;
}

.countdown-context-continue {
    font-family: emoji;
    padding: 20px 0px 20px 0px;
    font-size: x-large;
    height: 100%;
    color: #925a00;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 30px;
}

.time {
    display: flex;
    align-items: center;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 100px;
    margin: 0px 10px 0px 10px;
    height: 60px;
}

.time-box p {
    font-size: 2rem;
    margin: 0;
    color: #925a00;
}

.time-box span {
        color: #925a00;
        font-size: 1rem;
}


@media (max-width: 600px) {
    .time-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        width: 42px;
        margin: 0px 10px 0px 10px;
        height: 30px;
        justify-content: center;
    }

    .time-box p {
        font-size: 1.5rem;
    }
    
    .time-box span {
           font-size: xx-small;
    }
}

/* Tabletekre */
@media (min-width: 601px) and (max-width: 900px) {
    .time-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 8px;
        width: 70px;
        margin: 0px 15px 0px 10px;
        height: 40px;
        justify-content: center;
    }

    .time-box p {
        font-size: 1.5rem;
    }
    
    .time-box span {
            font-size: x-small;
    }

    .countdown-title {
        font-family: 'Dancing Script', cursive;
        padding: 10px;
    }
}