.feedback-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    color: #da9325;
    height: 100%;
    align-items: center;
}

.feedback-title {
    font-family: 'Dancing Script', cursive;
    padding: 20px;
    font-size: xxx-large;
    height: 100%;
    color: #da9325;
}

.feedback-form {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
}

.feedback-label {
    text-align: left;
}

.feedback-input-container {
    flex-direction: column;
    display: flex;
    width: 70%;
}

.feedback-child-input {
    width: 80%;
    margin-left: 9%;
}

.add-children {
    display: flex;
    margin: 10px 0px;
}

.children-age {
    margin-left: 5px;
    margin-right: 5px;
    border-width: 1px;
}

.children-name {
    border-width: 1px;
}

.children-button {
    border: 0px;
    padding-top: 3px;
    padding: 3px 7px 2px 2px;
    width: 90%;
    font-size: medium;
}

.add-children-button {
    display: flex;
    margin-bottom: 10px;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.children-delete-icon {
    color: red;
}

.children-add-icon {
    color: green;
}

.feedback-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Átlátszó háttér */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Biztosítja, hogy a modal előtérben legyen */
}

.feedback-modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.success-message {
    font-size: 18px;
    font-weight: bold;
    color:  #3a3838e8;
    text-align: center;
}