.footer {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.title{
    flex: auto;
    font-family: emoji;
    font-size: 20px;
}

.phone-number {
    font-style: italic;
}

.personal-info{
    padding-top: 15px;
}