.footer {
    width: 100%;
    height: auto;
    background-color: rgba(218, 189, 152);
    color: #634334;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.footer-title{
    flex: auto;
    font-family: emoji;
    font-size: x-large;
}

.phone-number {
    font-style: italic;
}