.invitation-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #925a00;
    height: 100%;
    align-items: center;
}

.invitation-title {
    font-family: 'Dancing Script', cursive;
    padding: 20px;
    font-size: xxx-large;
    height: 100%;
    color: #b46f00;
}

.invitation-subtitle {
    padding: 20px;
    font-size: large;
    height: 100%;
    color: #b46f00;
}

.feedback-button {
    background-color: #925a00;
    color: white;
    width: 70%;
    max-width: 300px;
    margin: 12px 20px;
    border-radius: 8px; 
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.feedback-button:hover {
    background-color: rgb(194, 132, 39);
}