.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
}

.gradient-background-section {
  width: 100%;

  background: linear-gradient(
    to bottom,
    #E4DCC8 0%,
    #E7DFCD 100%
  );

  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}
