.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
}

.table tbody {
  height: 100%;
}

.table tr {
  height: 100%;
}
