.video-section {
  width: 100%;
  padding: 0 20px 30px 20px;
  background: transparent;
  box-sizing: border-box;
}

.video-title {
  font-family: 'Dancing Script', cursive;
  font-size: xxx-large;
  color: #b46f00;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.video-description {
  max-width: 850px;
  margin: 0 auto 40px auto;

  color: #925a00;
  font-size: 1.1rem;
  line-height: 1.7;

  text-align: center;
}

.video-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  aspect-ratio: 16 / 9;

  overflow: hidden;
  border-radius: 12px;

  background: black;
}

.video-wrapper video {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: contain;

  border-radius: 12px;
}

@media (max-width: 1199px) {

  .video-section {
    padding: 50px 20px;
  }

  .video-title {
    font-size: 2.5rem;
  }

  .video-description {
    font-size: 1rem;
    max-width: 90%;
  }

}

@media (max-width: 768px) {

  .video-section {
    padding: 30px 15px;
  }


  .video-title {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }


  .video-description {
    font-size: 0.95rem;
    line-height: 1.5;

    margin-bottom: 25px;
  }


  .video-wrapper {
    width: 100%;

    aspect-ratio: 16 / 9;

    border-radius: 8px;
  }


  .video-wrapper video {
    border-radius: 8px;
  }

}