.header {
    position: fixed; /* Fix pozicionálás */
    top: 0; /* Tetejére rögzítve */
    left: 0; /* Balra rögzítve */
    width: 100%; /* Szélesség 100% */
    height: 100px; /* Magasság 100px (kb. 10 cm) */
    background-color: #333; /* Háttérszín */
    color: white; /* Szöveg színe */
    display: flex; /* Flexbox a tartalomhoz */
    align-items: center; /* Vertikális középre igazítás */
    justify-content: center; /* Horizontális középre igazítás */
    z-index: 1000; /* Z-index, hogy a legfelső rétegben legyen */
}

.button {
    background-color: rgba(61, 55, 55, 0.842);
    color: rgb(218, 163, 25);
    border: 1px solid rgb(218, 163, 25);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 10px;
}

.title{
    flex: auto;
    font-family: emoji;
    font-size: x-large;
}